.App {
    width: 100vw;
    height: 100vh;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 0.25vmin;
    row-gap: 0.25vmin;
}

.tile {
    width: 20vmin;
    height: 20vmin;
    line-height: 20vmin;
    font-size: 8vmin;
    text-align: center;
    cursor: pointer;

    border: 1px solid #999;
    overflow: hidden;

    color: rgba(255, 255, 255, 0.96);
    background-color: rgb(27, 175, 146);
}

.tile.is-awaiting {
    color: rgba(255, 255, 255, 0.96);
    background-color: khaki;
}

.tile.is-matched {
    color: rgb(27, 175, 146);
    background-color: rgba(255, 255, 255, 0.96);
}

.board.is-game-over .tile {
    background-color: deeppink;
    color: white;
}
