.App {
    width: 100vw;
    height: 100vh;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
}

.tile {
    width: 20vmin;
    height: 20vmin;
    font-size: 8vmin;
    text-align: center;
    cursor: pointer;

    position: relative;
    z-index: 1;
    perspective: 1000;
}

.tile .inner {
    width: 19vmin;
    height: 19vmin;
    margin: auto;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.69);
    transform-style: preserve-3d;
    transition: all 600 linear;
}

.tile.is-awaiting .inner {
    transform: rotateY(180deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.69);
}

.tile.is-matched .inner {
    transform: rotateY(180deg);
    box-shadow: unset;
}

.tile .face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 19vmin;
    backface-visibility: hidden;
}

.tile .face.front {
    transform: rotateY(180deg);
    border: 1px solid rgba(0, 0, 0, 0.32);
    color: black;
    background-color: white;
}

.tile.is-matched .face.front {
    border: none;
}

.tile .face.back {
    color: rgba(255, 255, 255, 0.96);
    /* background-color: rgb(27, 175, 146); */
    background-color: rgb(0, 0, 0);
}

.tile .face img {
    display: block;
    height: 100%;
    width: 100%;
}
